.settings-page {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  position: relative;
}

.header h1 {
  font-size: 24px;
  margin: 0 auto;
}

.back-arrow {
  position: absolute;
  left: 20px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.settings-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.mypage-wrapper {
  background-color: #ffffff;
  height: 92vh;
  overflow-y: auto;
  width: 100%;
}

.back-icon,
.settings-icon {
  width: 35px;
  height: 24px;
  cursor: pointer;
}

.header h1 {
  font-size: 18px;
}

.profile {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: rgba(120, 167, 90, 0.3); /* Use #78A75A color */
  color: #f6f6f6;
}

.profile-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.name-edit-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.name-input {
  font-size: 16px;
  padding: 5px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
}

.edit-button,
.save-button {
  padding: 2px 7px;
  font-size: 13px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  color: #78a75a;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-button:hover,
.save-button:hover {
  background-color: #f0f0f0;
}

.profile-info h2 {
  margin: 0;
  font-size: 16px;
}

.profile-info p {
  margin: 0;
  margin-top: 5px;
  font-size: 14px;
}

.profile-stats {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;
}

.profile-stats span {
  font-size: 12px;
  background-color: #f6f6f6;
  color: #78a75a;
  padding: 2px 5px;
  border-radius: 5px;
}

.options {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.options li {
  padding: 15px 20px;
  border-bottom: 1px solid #afafaf;
  cursor: pointer;
  transition: background-color 0.3s;
}

.options li:hover {
  background-color: #eefaef;
}

.section-title {
  background-color: #f6f6f6;
  padding: 10px 20px;
  font-weight: bold;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.button-group {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.modal-copy,
.modal-close {
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
}

.modal-copy {
  background-color: #78a75a;
  color: white;
}

.modal-close {
  background-color: #78a75a;
  color: white;
}

.modal-copy:hover,
.modal-close:hover {
  background-color: rgba(120, 167, 90, 0.8);
}
