/* Header.css */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #f8f8f8;
  height: 8vh;
}

.title {
  flex: 1;
  text-align: center;
  margin: 0;
}

.header-icons {
  display: flex;
  gap: 20px;
}

.header-icons img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  pointer-events: auto;
}

.header-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-item span {
  margin-top: 5px;
  font-size: 12px;
  color: #333;
}
