.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.back-button,
.next-button {
  background-color: var(--green-main);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  &:hover {
    filter: brightness(0.9);
  }
}

.back-button:disabled,
.next-button:disabled {
  background-color: #bfedc8;
  cursor: not-allowed;
}

.step-indicator {
  display: flex;
  gap: 5px;
}

.indicator-dot {
  width: 10px;
  height: 10px;
  background-color: #bfedc8;
  border-radius: 50%;
}

.indicator-dot.active {
  background-color: var(--green-main);
}
